{% extends 'layout.html' %}


{% block title %}
    {}
{% endblock title %}

{% block content %}

<div class="py-8 flex justify-end gap-x-4 ">
    <a href="{% url 'tweet_create' %}" class="p-2 bg-gray-900 text-white rounded-2xl  hover:text-gray-400">Create Post</a>
    <a href="#" class="p-2 bg-gray-900 text-white rounded-2xl  hover:text-gray-400">View Your Post</a>
</div>
<div class="py-8">
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for tweet in tweets %}
            <li class="flex justify-center">
                <div class="max-w-md w-full bg-white rounded-xl shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300">

                    <!-- Image -->
                    {% if tweet.photo %}
                        <img
                            src="{{ tweet.photo.url }}"
                            alt="{{ tweet.title }}"
                            class="w-full h-48 object-cover"
                        />
                    {% endif %}

                    <!-- Content -->
                    <div class="p-4">
                        <h2 class="text-lg font-semibold text-gray-900 mb-2">
                            {{ tweet.title }}
                        </h2>

                        <p class="text-gray-600 text-sm leading-relaxed pb-4">
                            {{ tweet.text }}
                        </p>

                        {% if tweet.user == user %}
                            <div class="flex gap-x-2">
                                <a href="{% url 'tweet_edit' tweet.id %}" class="py-1.5 px-4 bg-blue-800 text-white rounded  hover:text-gray-400">
                                    Edit
                                </a>
                                <a href="{% url 'tweet_delete' tweet.id %}" class="py-1.5 px-4 bg-red-800 text-white rounded  hover:text-gray-400">
                                    Delete
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
